-
  var categories = [
    {text: "все товары", link: "#", class: "category-tabs__tab--main"},
    {text: "платья", link: "#", class: ""},
    {text: "Костюмы", link: "#", class: ""},
    {text: "трикотаж", link: "#", class: ""},
    {text: "пиджаки и жакеты", link: "#", class: ""},
    {text: "футболки", link: "#", class: ""},
    {text: "трикотаж", link: "#", class: ""},
    {text: "футболки", link: "#", class: ""},
    {text: "трикотаж", link: "#", class: ""},
    {text: "пиджаки и жакеты", link: "#", class: ""},
    {text: "трикотаж", link: "#", class: ""},
    {text: "футболки", link: "#", class: ""},
    {text: "пиджаки и жакеты", link: "#", class: ""},
    {text: "ещё +12", link: "#", class: "category-tabs__tab--all"}
  ]

section.catalog-layout.catalog
  .catalog-layout__head
    .site-container
      .catalog-layout__title
        h1
          | все товары
          span.catalog-layout__counter
            | 213

      .catalog-layout__subrow.category-tabs
        ul.category-tabs__list(data-amount="5")
          for item in categories
            li.category-tabs__item
              a.category-tabs__tab(href= item.link, class= item.class)= item.text

  .catalog-layout__body
    .catalog-layout__sticky-control
      .site-container
        .catalog-layout__control
          .catalog-layout__filters
            button.filters(type="button", data-path="modal-filters")
              +icon-multi('filters')
              span.filters__text
                | фильтр

          .catalog-layout__sorting.sorting
            button.sorting__button.expand-btn(type="button")
              span.expand-btn__text.expand-btn__text--is-hidden
                | по популярности
              span.expand-btn__text.expand-btn__text--is-open
                | по популярности
              +icon-mono('arrow-down')

            ul.sorting__list
              li.sorting__item
                button._active(type='button') По популярности
              li.sorting__item
                button(type='button') По возрастанию цены
              li.sorting__item
                button(type='button') По убыванию цены

          .catalog-layout__up-btn
            button.expand-btn.expand-btn--up(type="button")
              span.expand-btn__text
                | наверх
              +icon-multi('up')

          .catalog-layout__view-switcher
            .view-switcher
              input.view-switcher__input(
                hidden,
                checked,
                type="radio",
                name="view-switch-input",
                id="view-switch-input-3",
                value="catalog-layout__list--wrap-three"
              )
              label.view-switcher__button(for="view-switch-input-3")
                +icon-mono('3-col')
              input.view-switcher__input(
                hidden,
                type="radio",
                name="view-switch-input",
                id="view-switch-input-4",
                value="catalog-layout__list--wrap-four"
              )
              label.view-switcher__button(for="view-switch-input-4")
                +icon-mono('4-col')

    .catalog-layout__list-wrapper
      .site-container
        ul.catalog-layout__list.catalog-layout__list--wrap-four
          li.catalog-layout__item
            article.product-card.product-card--stock.product-card--new(data-article="")
              .product-card__body
                .product-card__image
                  .product-card__picture
                    +picture('products/pic-2.jpg', 'retrova product image')

                  .product-card__stickers
                    span.product-card__sticker.sticker.sticker--new
                      +icon-mono('star')
                      span
                        | new

                    span.product-card__sticker.sticker.sticker--sale
                      +icon-mono('star')
                      span
                        | sale

                    span.product-card__sticker.sticker.sticker--sold-out
                      +icon-mono('star')
                      span
                        | нет в наличии

                  .product-card__favorites.favorites
                    label.favorites__label
                      input.favorites__input(
                        hidden,
                        type="checkbox",
                        name="favorite",
                        value="",
                        id=""
                      )
                      span.favorites__icon
                        +icon-mono('heart')

                  .product-card__cart.cart
                    label.cart__label
                      input.cart__input(
                        hidden,
                        type="checkbox",
                        name="cart",
                        value="",
                        id=""
                      )
                      span.cart__icon
                        +icon-mono('cart')

                .product-card__info
                  span.product-card__name
                    | Джинсовая куртка
                  .product-card__price
                    span.product-card__price-value.product-card__price-value--actual
                      | 25 000₽
                    span.product-card__price-value.product-card__price-value--old
                      | 32 000₽
          li.catalog-layout__item
            article.product-card.product-card--stock.product-card--new(data-article="")
              .product-card__body
                .product-card__image
                  .product-card__picture
                    +picture('products/pic-2.jpg', 'retrova product image')

                  .product-card__stickers
                    span.product-card__sticker.sticker.sticker--new
                      +icon-mono('star')
                      span
                        | new

                    span.product-card__sticker.sticker.sticker--sale
                      +icon-mono('star')
                      span
                        | sale

                    span.product-card__sticker.sticker.sticker--sold-out
                      +icon-mono('star')
                      span
                        | нет в наличии

                  .product-card__favorites.favorites
                    label.favorites__label
                      input.favorites__input(
                        hidden,
                        type="checkbox",
                        name="favorite",
                        value="",
                        id=""
                      )
                      span.favorites__icon
                        +icon-mono('heart')

                  .product-card__cart.cart
                    label.cart__label
                      input.cart__input(
                        hidden,
                        type="checkbox",
                        name="cart",
                        value="",
                        id=""
                      )
                      span.cart__icon
                        +icon-mono('cart')

                .product-card__info
                  span.product-card__name
                    | Джинсовая куртка
                  .product-card__price
                    span.product-card__price-value.product-card__price-value--actual
                      | 25 000₽
                    span.product-card__price-value.product-card__price-value--old
                      | 32 000₽
          li.catalog-layout__item
            article.product-card.product-card--stock.product-card--new(data-article="")
              .product-card__body
                .product-card__image
                  .product-card__picture
                    +picture('products/pic-2.jpg', 'retrova product image')

                  .product-card__stickers
                    span.product-card__sticker.sticker.sticker--new
                      +icon-mono('star')
                      span
                        | new

                    span.product-card__sticker.sticker.sticker--sale
                      +icon-mono('star')
                      span
                        | sale

                    span.product-card__sticker.sticker.sticker--sold-out
                      +icon-mono('star')
                      span
                        | нет в наличии

                  .product-card__favorites.favorites
                    label.favorites__label
                      input.favorites__input(
                        hidden,
                        type="checkbox",
                        name="favorite",
                        value="",
                        id=""
                      )
                      span.favorites__icon
                        +icon-mono('heart')

                  .product-card__cart.cart
                    label.cart__label
                      input.cart__input(
                        hidden,
                        type="checkbox",
                        name="cart",
                        value="",
                        id=""
                      )
                      span.cart__icon
                        +icon-mono('cart')

                .product-card__info
                  span.product-card__name
                    | Джинсовая куртка
                  .product-card__price
                    span.product-card__price-value.product-card__price-value--actual
                      | 25 000₽
                    span.product-card__price-value.product-card__price-value--old
                      | 32 000₽
          li.catalog-layout__item
            article.product-card.product-card--stock.product-card--new(data-article="")
              .product-card__body
                .product-card__image
                  .product-card__picture
                    +picture('products/pic-2.jpg', 'retrova product image')

                  .product-card__stickers
                    span.product-card__sticker.sticker.sticker--new
                      +icon-mono('star')
                      span
                        | new

                    span.product-card__sticker.sticker.sticker--sale
                      +icon-mono('star')
                      span
                        | sale

                    span.product-card__sticker.sticker.sticker--sold-out
                      +icon-mono('star')
                      span
                        | нет в наличии

                  .product-card__favorites.favorites
                    label.favorites__label
                      input.favorites__input(
                        hidden,
                        type="checkbox",
                        name="favorite",
                        value="",
                        id=""
                      )
                      span.favorites__icon
                        +icon-mono('heart')

                  .product-card__cart.cart
                    label.cart__label
                      input.cart__input(
                        hidden,
                        type="checkbox",
                        name="cart",
                        value="",
                        id=""
                      )
                      span.cart__icon
                        +icon-mono('cart')

                .product-card__info
                  span.product-card__name
                    | Джинсовая куртка
                  .product-card__price
                    span.product-card__price-value.product-card__price-value--actual
                      | 25 000₽
                    span.product-card__price-value.product-card__price-value--old
                      | 32 000₽
          li.catalog-layout__item
            article.product-card.product-card--stock.product-card--new(data-article="")
              .product-card__body
                .product-card__image
                  .product-card__picture
                    +picture('products/pic-2.jpg', 'retrova product image')

                  .product-card__stickers
                    span.product-card__sticker.sticker.sticker--new
                      +icon-mono('star')
                      span
                        | new

                    span.product-card__sticker.sticker.sticker--sale
                      +icon-mono('star')
                      span
                        | sale

                    span.product-card__sticker.sticker.sticker--sold-out
                      +icon-mono('star')
                      span
                        | нет в наличии

                  .product-card__favorites.favorites
                    label.favorites__label
                      input.favorites__input(
                        hidden,
                        type="checkbox",
                        name="favorite",
                        value="",
                        id=""
                      )
                      span.favorites__icon
                        +icon-mono('heart')

                  .product-card__cart.cart
                    label.cart__label
                      input.cart__input(
                        hidden,
                        type="checkbox",
                        name="cart",
                        value="",
                        id=""
                      )
                      span.cart__icon
                        +icon-mono('cart')

                .product-card__info
                  span.product-card__name
                    | Джинсовая куртка
                  .product-card__price
                    span.product-card__price-value.product-card__price-value--actual
                      | 25 000₽
                    span.product-card__price-value.product-card__price-value--old
                      | 32 000₽
