section.catalog-layout.catalog
  .catalog-layout__head
    .site-container
      .catalog-layout__title
        h1
          | брюки
          span.catalog-layout__counter
            | 56

      .catalog-layout__subrow
        .catalog-layout__text
          | Рефлексия прекрасно вызывает комплекс. Поведенческая
          | терапия, иcходя из того, что просветляет филосовский
          | код. Как отмечает Д. Майерс, у нас есть некоторое
          | чувство конфликта, которое возни

  .catalog-layout__body
    .catalog-layout__sticky-control
      .site-container
        include ./catalog-control.pug

    .catalog-layout__list-wrapper
      .site-container
        ul.catalog-layout__list.catalog-layout__list--wrap-three
          li.catalog-layout__item
            article.product-card.product-card--hovered.product-card--stock.product-card--new(data-article="")
              .product-card__body
                .product-card__image
                  .product-card__picture.product-card__picture--active(data-image="1")
                    +picture('products/pic-2.jpg', 'retrova product image')
                  .product-card__picture(data-image="2")
                    +picture('products/pic-3.jpg', 'retrova product image')
                  .product-card__picture(data-image="3")
                    +picture('products/pic-7.jpg', 'retrova product image')

                  .product-card__hover-mask
                    .product-card__hover-item(data-hover="1")
                    .product-card__hover-item(data-hover="2")
                    .product-card__hover-item(data-hover="3")

                  .product-card__stickers
                    span.product-card__sticker.sticker.sticker--new
                      +icon-mono('star')
                      span
                        | new

                    span.product-card__sticker.sticker.sticker--sale
                      +icon-mono('star')
                      span
                        | sale

                    span.product-card__sticker.sticker.sticker--sold-out
                      +icon-mono('star')
                      span
                        | нет в наличии

                  .product-card__favorites.favorites
                    label.favorites__label
                      input.favorites__input(
                        hidden,
                        type="checkbox",
                        name="favorite",
                        value="",
                        id=""
                      )
                      span.favorites__icon
                        +icon-mono('heart')

                  .product-card__cart.cart
                    label.cart__label(data-path="modal-quick-add")
                      input.cart__input(
                        hidden,
                        type="checkbox",
                        name="cart",
                        value="",
                        id=""
                      )
                      span.cart__icon
                        +icon-mono('cart')

                .product-card__info
                  span.product-card__name
                    | Джинсовая куртка
                  .product-card__price
                    span.product-card__price-value.product-card__price-value--actual
                      | 25 000₽
                    span.product-card__price-value.product-card__price-value--old
                      | 32 000₽

        span.blog__loading
