-
  var socialsSvgs = [
    {
        icon:'wp',
        class:'',
        href:'#'
    },
    {
        icon:'tg',
        class:'',
        href:'#'
    },
    {
        icon:'vk',
        class:'',
        href:'#'
    },
    {
        icon:'chain',
        class:'js-copy-link-social',
        href:'#'
    },
  ]

section.blogs-article
  .blogs-article__row-wrapper
    .site-container
      .blogs-article__header
        .blogs-article__left
          span.blogs-article__sticker.sticker.sticker--sold-out
            +icon-mono('star')
            span советы стилиста

          .blogs-article__author
            span.blogs-article__author-name Александр Думской

            .blogs-article__author-info
              span.blogs-article__date 25 апреля 2023,
              span.blogs-article__time 4 мин прочтения

          .blogs-article__socials.socials
            ul.socials__list
              each svg in socialsSvgs
                li.socials__item
                  a.socials__link.social-link.social-link--dark(href= svg.href, class= svg.class)
                    +icon-mono(svg.icon)

        .blogs-article__right
          h1.blogs-article__title
            | Женская мода для полных
            | осень 2023 - тренды
          p.blogs-article__subtitle
            | Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя
            | из того, что просветляет филосовский код. Как отмечает Д.Майерс, у
            | нас есть некоторое чувство конфликта, которое возни

  .blogs-article__row-wrapper
    .site-container
      .blogs-article__image
        +picture('blog/cover.jpg', 'retrova blog article image')

  .blogs-article__row-wrapper.blogs-article__row-wrapper--overflow
    .site-container
      .blogs-article__content.article-blog
        aside.article-blog__nav
          ul

        .article-blog__list
          div
            h4 введение

            p
              | Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя
              | из того, что просветляет филосовский код. Как отмечает Д.Майерс, у нас
              | есть некоторое чувство конфликта, которое возни. Декаданс заканчивает
              | композиционный мимезис, таким образом, все перечисленные признаки архетипа
              | и мифа подтверждают, что действие механизмов мифотворчества сродни
              | механизмам художественно-продуктивного мышления. Действительно, метафора
              | трансформирует холерик. Аполлоновское начало продолжает социально-психологический
              | фактор. Интерпретация аккумулирует экспрессионизм.
            p
              | Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя
              | из того, что просветляет филосовский код. Как отмечает Д.Майерс, у нас
              | есть некоторое чувство конфликта, которое возни. Декаданс заканчивает
              | композиционный мимезис, таким образом, все перечисленные признаки архетипа
              | и мифа подтверждают, что действие механизмов мифотворчества сродни
              | механизмам художественно-продуктивного мышления. Действительно, метафора
              | трансформирует холерик. Аполлоновское начало продолжает социально-психологический
              | фактор. Интерпретация аккумулирует экспрессионизм.

          div
            h4 Верхняя одежда plus size на осень 2023

            p
              | Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя
              | из того, что просветляет филосовский код. Как отмечает Д.Майерс, у нас
              | есть некоторое чувство конфликта, которое возни. Декаданс заканчивает
              | композиционный мимезис, таким образом, все перечисленные признаки архетипа
              | и мифа подтверждают, что действие механизмов мифотворчества сродни
              | механизмам художественно-продуктивного мышления. Действительно, метафора
              | трансформирует холерик. Аполлоновское начало продолжает социально-психологический
              | фактор. Интерпретация аккумулирует экспрессионизм.

            h6 Вам подойдут образы:

            section.swiper.js-article-product-slider
              ul.swiper-wrapper
                .swiper-slide.product-card.product-card--smaller.product-card--stock.product-card--new(data-article="")
                  .product-card__body
                    .product-card__image
                      .product-card__picture
                        +picture('products/pic-5.jpg', 'retrova product image')

                      .product-card__stickers
                        span.product-card__sticker.sticker.sticker--new
                          +icon-mono('star')
                          span
                            | new

                        span.product-card__sticker.sticker.sticker--sale
                          +icon-mono('star')
                          span
                            | sale

                        span.product-card__sticker.sticker.sticker--sold-out
                          +icon-mono('star')
                          span
                            | нет в наличии

                      .product-card__favorites.favorites.favorites--bigger
                        label.favorites__label
                          input.favorites__input(
                            hidden,
                            type="checkbox",
                            name="favorite",
                            value="",
                            id=""
                          )
                          span.favorites__icon
                            +icon-mono('heart')

                      .product-card__cart.cart
                        label.cart__label
                          input.cart__input(
                            hidden,
                            type="checkbox",
                            name="cart",
                            value="",
                            id=""
                          )
                          span.cart__icon
                            +icon-mono('cart')

                    .product-card__info
                      span.product-card__name
                        | Джинсовая куртка
                      .product-card__price
                        span.product-card__price-value.product-card__price-value--actual
                          | 25 000₽
                        span.product-card__price-value.product-card__price-value--old
                          | 32 000₽

                .swiper-slide.product-card.product-card--smaller.product-card--stock.product-card--new(data-article="")
                  .product-card__body
                    .product-card__image
                      .product-card__picture
                        +picture('products/pic-3.jpg', 'retrova product image')

                      .product-card__stickers
                        span.product-card__sticker.sticker.sticker--new
                          +icon-mono('star')
                          span
                            | new

                        span.product-card__sticker.sticker.sticker--sale
                          +icon-mono('star')
                          span
                            | sale

                        span.product-card__sticker.sticker.sticker--sold-out
                          +icon-mono('star')
                          span
                            | нет в наличии

                      .product-card__favorites.favorites.favorites--bigger
                        label.favorites__label
                          input.favorites__input(
                            hidden,
                            type="checkbox",
                            name="favorite",
                            value="",
                            id=""
                          )
                          span.favorites__icon
                            +icon-mono('heart')

                      .product-card__cart.cart
                        label.cart__label
                          input.cart__input(
                            hidden,
                            type="checkbox",
                            name="cart",
                            value="",
                            id=""
                          )
                          span.cart__icon
                            +icon-mono('cart')

                    .product-card__info
                      span.product-card__name
                        | Белый свитер
                      .product-card__price
                        span.product-card__price-value.product-card__price-value--actual
                          | 25 000₽
                        span.product-card__price-value.product-card__price-value--old
                          | 32 000₽

          div
            h4 Модный трикотаж для полных женщин на осень 2023

            p
              | Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя
              | из того, что просветляет филосовский код. Как отмечает Д.Майерс, у нас
              | есть некоторое чувство конфликта, которое возни. Декаданс заканчивает
              | композиционный мимезис, таким образом, все перечисленные признаки архетипа
              | и мифа подтверждают, что действие механизмов мифотворчества сродни
              | механизмам художественно-продуктивного мышления. Действительно, метафора
              | трансформирует холерик. Аполлоновское начало продолжает социально-психологический
              | фактор. Интерпретация аккумулирует экспрессионизм.

            figure
              img(src="./assets/images/blog/cover.jpg", alt="alt")
              figcaption Мелкая сноска с описанием к фото

          div
            h5 Модный трикотаж для полных женщин на осень 2023

            p
              | Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя
              | из того, что просветляет филосовский код. Как отмечает Д.Майерс, у нас
              | есть некоторое чувство конфликта, которое возни. Декаданс заканчивает
              | композиционный мимезис, таким образом, все перечисленные признаки архетипа
              | и мифа подтверждают

            q
              | Модные платья, юбки и брюки для полных женщин на осень 2023

          div
            h5 Модный трикотаж для полных женщин на осень 2023

            p
              | Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя
              | из того, что просветляет филосовский код. Как отмечает Д.Майерс, у нас
              | есть некоторое чувство конфликта, которое возни. Декаданс заканчивает
              | композиционный мимезис, таким образом, все перечисленные признаки архетипа
              | и мифа подтверждают

            ul
              li
                | преимущество 1
              li
                | преимущество 2
              li
                | преимущество 3
              li
                | преимущество 4
              li
                | преимущество 5

            p
              | Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя
              | из того, что просветляет филосовский код. Как отмечает Д.Майерс, у нас
              | есть некоторое чувство конфликта, которое возни. Декаданс заканчивает
              | композиционный мимезис, таким образом, все перечисленные признаки архетипа
              | и мифа подтверждают

          div
            h4 Модный трикотаж для полных женщин на осень 2023

            p
              | Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя
              | из того, что просветляет филосовский код. Как отмечает Д.Майерс, у
              | нас есть некоторое чувство конфликта, которое возни. Декаданс заканчивает
              | композиционный мимезис, таким образом, все перечисленные признаки
              | архетипа и мифа подтверждают, что действие механизмов мифотворчества
              | сродни механизмам художественно-продуктивного мышления. Действительно,
              | метафора трансформирует холерик. Аполлоновское начало продолжает
              | социально-психологический фактор. Интерпретация аккумулирует экспрессионизм.

            figure
              .article-video.js-video-box
                .article-video__container(data-youtube-id="lJIrF4YjHfQ")
                .article-video__poster
                  button(type="button")
                  .article-video__picture
                    img(src="./assets/images/video-cover.jpg", alt="alt")

          div
            h5 Модный трикотаж для полных женщин на осень 2023

            p
              | Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя
              | из того, что просветляет филосовский код. Как отмечает Д.Майерс, у
              | нас есть некоторое чувство конфликта, которое возни. Декаданс заканчивает
              | композиционный мимезис, таким образом, все перечисленные признаки
              | архетипа и мифа подтверждают

            ol
              li
                | преимущество 666
              li
                | преимущество 2
              li
                | преимущество 3

            p
              | Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя
              | из того, что просветляет филосовский код. Как отмечает Д.Майерс, у
              | нас есть некоторое чувство конфликта, которое возни. Декаданс заканчивает
              | композиционный мимезис, таким образом, все перечисленные признаки
              | архетипа и мифа подтверждают

          div
            h4 заключение

            p
              | Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя
              | из того, что просветляет филосовский код. Как отмечает Д.Майерс, у нас
              | есть некоторое чувство конфликта, которое возни. Декаданс заканчивает
              | композиционный мимезис, таким образом, все перечисленные признаки архетипа
              | и мифа подтверждают, что действие механизмов мифотворчества сродни
              | механизмам художественно-продуктивного мышления. Действительно, метафора
              | трансформирует холерик. Аполлоновское начало продолжает социально-психологический
              | фактор. Интерпретация аккумулирует экспрессионизм.
