mixin Input-phone(id, name, placeholder, errorText, tooltipText)
  .input-box&attributes(attributes)
    input.input-box__input.js-phone-mask(
      type="text",
      id= id,
      required,
      name= name,
      placeholder= placeholder,
      autocomplete="off",
      minlenght="16",
      data-parsley-phone
    )
    label.input-box__label= placeholder

    span.input-box__tooltip= tooltipText

    button.input-box__clear(type="button")
      +icon-mono('clear')
