mixin Input-required(id, name, placeholder, errorText, tooltipText, required=true)
  .input-box&attributes(attributes)
    input.input-box__input(
      id= id,
      required,
      name= name,
      type="text",
      placeholder= placeholder,
      autocomplete="off",
      minlength="2",
      data-parsley-reqtext,
      data-parsley-trigger="input",
      data-parsley-validate-if-empty
    )
    label.input-box__label= placeholder

    span.input-box__error= errorText

    span.input-box__tooltip= tooltipText

    button.input-box__clear.js-reset-parsley(tabindex="0", type="button")
      +icon-mono('clear')
