mixin Input-email(id, name, placeholder, errorText, tooltipText)
  .input-box&attributes(attributes)
    input.input-box__input.js-email-mask(
      type="text",
      id= id,
      required,
      name= name,
      placeholder= placeholder,
      autocomplete="off",
      minlength="5",
      data-parsley-email,
      data-parsley-trigger="input",
      data-parsley-validate-if-empty
    )
    label.input-box__label= placeholder

    span.input-box__error= errorText

    span.input-box__tooltip= tooltipText

    button.input-box__clear(tabindex="0", type="button")
      +icon-mono('clear')
