section.section.seasons-look
  .site-container
    .seasons-look__head.slider__head
      h2.slider__title
        | коллекция *ss 2023

      .slider__head-row.slider__head-row--transform
        span.slider__subtitle
          | Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя из
          | того, что просветляет филосовский код. Как отмечает Д.Майерс, у нас есть
          | некоторое чувство конфликта, которое возни


        .slider__link
          a.contacts-link.contacts-link--dark(href="#")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text
              | посмотреть коллекцию
            +icon-multi('link-arrow-clean-prime')

    .seasons-look__body.slider__body
      .seasons-look__cover
        .seasons-look__picture
          +picture('seasons/cover.jpg', 'retrova season cover image')
        .seasons-look__logo
          +icon-multi('logo')

      .seasons-look__slider.js-seasons-swiper
        .seasons-look__swiper.swiper
          ul.seasons-look__swiper-wrapper.swiper-wrapper
            li.seasons-look__swiper-slide.swiper-slide
              article.product-card.product-card--smaller.product-card--stock.product-card--new(data-article="")
                .product-card__body
                  .product-card__image
                    .product-card__picture
                      +picture('products/pic-5.jpg', 'retrova product image')

                    .product-card__stickers
                      span.product-card__sticker.sticker.sticker--new
                        +icon-mono('star')
                        span
                          | new

                      span.product-card__sticker.sticker.sticker--sale
                        +icon-mono('star')
                        span
                          | sale

                      span.product-card__sticker.sticker.sticker--sold-out
                        +icon-mono('star')
                        span
                          | нет в наличии

                    .product-card__favorites.favorites.favorites--bigger
                      label.favorites__label
                        input.favorites__input(
                          hidden,
                          type="checkbox",
                          name="favorite",
                          value="",
                          id=""
                        )
                        span.favorites__icon
                          +icon-mono('heart')

                    .product-card__cart.cart
                      label.cart__label
                        input.cart__input(
                          hidden,
                          type="checkbox",
                          name="cart",
                          value="",
                          id=""
                        )
                        span.cart__icon
                          +icon-mono('cart')

                  .product-card__info
                    span.product-card__name
                      | Джинсовая куртка
                    .product-card__price
                      span.product-card__price-value.product-card__price-value--actual
                        | 25 000₽
                      span.product-card__price-value.product-card__price-value--old
                        | 32 000₽

            li.seasons-look__swiper-slide.swiper-slide
              article.product-card.product-card--smaller.product-card--stock.product-card--new(data-article="")
                .product-card__body
                  .product-card__image
                    .product-card__picture
                      +picture('products/pic-3.jpg', 'retrova product image')

                    .product-card__stickers
                      span.product-card__sticker.sticker.sticker--new
                        +icon-mono('star')
                        span
                          | new

                      span.product-card__sticker.sticker.sticker--sale
                        +icon-mono('star')
                        span
                          | sale

                      span.product-card__sticker.sticker.sticker--sold-out
                        +icon-mono('star')
                        span
                          | нет в наличии

                    .product-card__favorites.favorites.favorites--bigger
                      label.favorites__label
                        input.favorites__input(
                          hidden,
                          type="checkbox",
                          name="favorite",
                          value="",
                          id=""
                        )
                        span.favorites__icon
                          +icon-mono('heart')

                    .product-card__cart.cart
                      label.cart__label
                        input.cart__input(
                          hidden,
                          type="checkbox",
                          name="cart",
                          value="",
                          id=""
                        )
                        span.cart__icon
                          +icon-mono('cart')

                  .product-card__info
                    span.product-card__name
                      | Белый свитер
                    .product-card__price
                      span.product-card__price-value.product-card__price-value--actual
                        | 25 000₽
                      span.product-card__price-value.product-card__price-value--old
                        | 32 000₽

            li.seasons-look__swiper-slide.swiper-slide
              article.product-card.product-card--smaller.product-card--stock.product-card--new(data-article="")
                .product-card__body
                  .product-card__image
                    .product-card__picture
                      +picture('products/pic-4.jpg', 'retrova product image')

                    .product-card__stickers
                      span.product-card__sticker.sticker.sticker--new
                        +icon-mono('star')
                        span
                          | new

                      span.product-card__sticker.sticker.sticker--sale
                        +icon-mono('star')
                        span
                          | sale

                      span.product-card__sticker.sticker.sticker--sold-out
                        +icon-mono('star')
                        span
                          | нет в наличии

                    .product-card__favorites.favorites.favorites--bigger
                      label.favorites__label
                        input.favorites__input(
                          hidden,
                          type="checkbox",
                          name="favorite",
                          value="",
                          id=""
                        )
                        span.favorites__icon
                          +icon-mono('heart')

                    .product-card__cart.cart
                      label.cart__label
                        input.cart__input(
                          hidden,
                          type="checkbox",
                          name="cart",
                          value="",
                          id=""
                        )
                        span.cart__icon
                          +icon-mono('cart')

                  .product-card__info
                    span.product-card__name
                      | рубашка белая
                    .product-card__price
                      span.product-card__price-value.product-card__price-value--actual
                        | 25 000₽
                      span.product-card__price-value.product-card__price-value--old
                        | 32 000₽

        .seasons-look__controls
          button.slider__button.slider__button--prev.seasons-look__button.seasons-look__button--prev
            +icon-mono('intro-arrow')
          button.slider__button.slider__button--next.seasons-look__button.seasons-look__button--next
            +icon-mono('intro-arrow')
