.modal__container(data-target="modal-del-point")
  .modal__wrapper-with-map.modal-del-point__wrapper-map
    .modal__map.modal-del-point__map
      .yamaps#yamapsPosts

      .modal-del-point__checkboxes
        +Map-checkbox('delivery-point-post', 'delivery-point', 'delivery-point-post', 'почта россии')
        +Map-checkbox('delivery-point-sdek', 'delivery-point', 'delivery-point-sdek', 'сдэк', false)


    .modal-del-point__head
      .modal-locate-list__head
        span.modal-locate-list__title
          | Выбор пункта выдачи
        button.modal-locate-list__close.modal-close(type="button")
          +icon-mono('close-big')

    form.modal-del-point__search-list(action="")
      .search-box.input-box
        input.search-box__input.input-box__input(
          id="search",
          required,
          name="search",
          type="text",
          placeholder="найти адрес пункта",
          autocomplete="off"
        )

        label.search-box__label.input-box__label
          |  Поиск

        span.input-box__error
          | Адрес найден

        button.input-box__clear(type="button")
          +icon-mono('clear')

        span.search-box__icon
          +icon-multi('search')

      ul.modal-del-point__results-list
        li.modal-del-point__results-item(data-place="")
          span.modal-del-point__results-address пр-кт Металлургов, 56

          .modal-del-point__results-info
            .modal-del-point__results-price
              span Стоимость доставки —&nbsp;
              span.modal-del-point__results-price-value бесплатно
            .modal-del-point__results-date
              span Дата доставки —&nbsp;
              span.modal-del-point__results-price-value понедельник, 19 июня

          button.modal-del-point__results-button.contacts-link.contacts-link--dark.modal-close.js-close-step(type="button")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text
              | выбрать пункт
            +icon-multi('link-arrow-clean-prime')
        li.modal-del-point__results-item(data-place="")
          span.modal-del-point__results-address пр-кт Металлургов, 56

          .modal-del-point__results-info
            .modal-del-point__results-price
              span Стоимость доставки —&nbsp;
              span.modal-del-point__results-price-value бесплатно
            .modal-del-point__results-date
              span Дата доставки —&nbsp;
              span.modal-del-point__results-price-value понедельник, 19 июня

          button.modal-del-point__results-button.contacts-link.contacts-link--dark.modal-close.js-close-step(type="button")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text
              | выбрать пункт
            +icon-multi('link-arrow-clean-prime')
        li.modal-del-point__results-item(data-place="")
          span.modal-del-point__results-address пр-кт Металлургов, 56

          .modal-del-point__results-info
            .modal-del-point__results-price
              span Стоимость доставки —&nbsp;
              span.modal-del-point__results-price-value бесплатно
            .modal-del-point__results-date
              span Дата доставки —&nbsp;
              span.modal-del-point__results-price-value понедельник, 19 июня

          button.modal-del-point__results-button.contacts-link.contacts-link--dark.modal-close.js-close-step(type="button")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text
              | выбрать пункт
            +icon-multi('link-arrow-clean-prime')
        li.modal-del-point__results-item(data-place="")
          span.modal-del-point__results-address пр-кт Металлургов, 56

          .modal-del-point__results-info
            .modal-del-point__results-price
              span Стоимость доставки —&nbsp;
              span.modal-del-point__results-price-value бесплатно
            .modal-del-point__results-date
              span Дата доставки —&nbsp;
              span.modal-del-point__results-price-value понедельник, 19 июня

          button.modal-del-point__results-button.contacts-link.contacts-link--dark.modal-close.js-close-step(type="button")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text
              | выбрать пункт
            +icon-multi('link-arrow-clean-prime')
        li.modal-del-point__results-item(data-place="")
          span.modal-del-point__results-address пр-кт Металлургов, 56

          .modal-del-point__results-info
            .modal-del-point__results-price
              span Стоимость доставки —&nbsp;
              span.modal-del-point__results-price-value бесплатно
            .modal-del-point__results-date
              span Дата доставки —&nbsp;
              span.modal-del-point__results-price-value понедельник, 19 июня

          button.modal-del-point__results-button.contacts-link.contacts-link--dark.modal-close.js-close-step(type="button")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text
              | выбрать пункт
            +icon-multi('link-arrow-clean-prime')
        li.modal-del-point__results-item(data-place="")
          span.modal-del-point__results-address пр-кт Металлургов, 56

          .modal-del-point__results-info
            .modal-del-point__results-price
              span Стоимость доставки —&nbsp;
              span.modal-del-point__results-price-value бесплатно
            .modal-del-point__results-date
              span Дата доставки —&nbsp;
              span.modal-del-point__results-price-value понедельник, 19 июня

          button.modal-del-point__results-button.contacts-link.contacts-link--dark.modal-close.js-close-step(type="button")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text
              | выбрать пункт
            +icon-multi('link-arrow-clean-prime')
        li.modal-del-point__results-item(data-place="")
          span.modal-del-point__results-address пр-кт Металлургов, 56

          .modal-del-point__results-info
            .modal-del-point__results-price
              span Стоимость доставки —&nbsp;
              span.modal-del-point__results-price-value бесплатно
            .modal-del-point__results-date
              span Дата доставки —&nbsp;
              span.modal-del-point__results-price-value понедельник, 19 июня

          button.modal-del-point__results-button.contacts-link.contacts-link--dark.modal-close.js-close-step(type="button")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text
              | выбрать пункт
            +icon-multi('link-arrow-clean-prime')
        li.modal-del-point__results-item(data-place="")
          span.modal-del-point__results-address пр-кт Металлургов, 56

          .modal-del-point__results-info
            .modal-del-point__results-price
              span Стоимость доставки —&nbsp;
              span.modal-del-point__results-price-value бесплатно
            .modal-del-point__results-date
              span Дата доставки —&nbsp;
              span.modal-del-point__results-price-value понедельник, 19 июня

          button.modal-del-point__results-button.contacts-link.contacts-link--dark.modal-close.js-close-step(type="button")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text
              | выбрать пункт
            +icon-multi('link-arrow-clean-prime')
        li.modal-del-point__results-item(data-place="")
          span.modal-del-point__results-address пр-кт Металлургов, 56

          .modal-del-point__results-info
            .modal-del-point__results-price
              span Стоимость доставки —&nbsp;
              span.modal-del-point__results-price-value бесплатно
            .modal-del-point__results-date
              span Дата доставки —&nbsp;
              span.modal-del-point__results-price-value понедельник, 19 июня

          button.modal-del-point__results-button.contacts-link.contacts-link--dark.modal-close.js-close-step(type="button")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text
              | выбрать пункт
            +icon-multi('link-arrow-clean-prime')
        li.modal-del-point__results-item(data-place="")
          span.modal-del-point__results-address пр-кт Металлургов, 56

          .modal-del-point__results-info
            .modal-del-point__results-price
              span Стоимость доставки —&nbsp;
              span.modal-del-point__results-price-value бесплатно
            .modal-del-point__results-date
              span Дата доставки —&nbsp;
              span.modal-del-point__results-price-value понедельник, 19 июня

          button.modal-del-point__results-button.contacts-link.contacts-link--dark.modal-close.js-close-step(type="button")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text
              | выбрать пункт
            +icon-multi('link-arrow-clean-prime')
        li.modal-del-point__results-item(data-place="")
          span.modal-del-point__results-address пр-кт Металлургов, 56

          .modal-del-point__results-info
            .modal-del-point__results-price
              span Стоимость доставки —&nbsp;
              span.modal-del-point__results-price-value бесплатно
            .modal-del-point__results-date
              span Дата доставки —&nbsp;
              span.modal-del-point__results-price-value понедельник, 19 июня

          button.modal-del-point__results-button.contacts-link.contacts-link--dark.modal-close.js-close-step(type="button")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text
              | выбрать пункт
            +icon-multi('link-arrow-clean-prime')
        li.modal-del-point__results-item(data-place="")
          span.modal-del-point__results-address пр-кт Металлургов, 56

          .modal-del-point__results-info
            .modal-del-point__results-price
              span Стоимость доставки —&nbsp;
              span.modal-del-point__results-price-value бесплатно
            .modal-del-point__results-date
              span Дата доставки —&nbsp;
              span.modal-del-point__results-price-value понедельник, 19 июня

          button.modal-del-point__results-button.contacts-link.contacts-link--dark.modal-close.js-close-step(type="button")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text
              | выбрать пункт
            +icon-multi('link-arrow-clean-prime')
        li.modal-del-point__results-item(data-place="")
          span.modal-del-point__results-address пр-кт Металлургов, 56

          .modal-del-point__results-info
            .modal-del-point__results-price
              span Стоимость доставки —&nbsp;
              span.modal-del-point__results-price-value бесплатно
            .modal-del-point__results-date
              span Дата доставки —&nbsp;
              span.modal-del-point__results-price-value понедельник, 19 июня

          button.modal-del-point__results-button.contacts-link.contacts-link--dark.modal-close.js-close-step(type="button")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text
              | выбрать пункт
            +icon-multi('link-arrow-clean-prime')
        li.modal-del-point__results-item(data-place="")
          span.modal-del-point__results-address пр-кт Металлургов, 56

          .modal-del-point__results-info
            .modal-del-point__results-price
              span Стоимость доставки —&nbsp;
              span.modal-del-point__results-price-value бесплатно
            .modal-del-point__results-date
              span Дата доставки —&nbsp;
              span.modal-del-point__results-price-value понедельник, 19 июня

          button.modal-del-point__results-button.contacts-link.contacts-link--dark.modal-close.js-close-step(type="button")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text
              | выбрать пункт
            +icon-multi('link-arrow-clean-prime')
        li.modal-del-point__results-item(data-place="")
          span.modal-del-point__results-address пр-кт Металлургов, 56

          .modal-del-point__results-info
            .modal-del-point__results-price
              span Стоимость доставки —&nbsp;
              span.modal-del-point__results-price-value бесплатно
            .modal-del-point__results-date
              span Дата доставки —&nbsp;
              span.modal-del-point__results-price-value понедельник, 19 июня

          button.modal-del-point__results-button.contacts-link.contacts-link--dark.modal-close.js-close-step(type="button")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text
              | выбрать пункт
            +icon-multi('link-arrow-clean-prime')
        li.modal-del-point__results-item(data-place="")
          span.modal-del-point__results-address пр-кт Металлургов, 56

          .modal-del-point__results-info
            .modal-del-point__results-price
              span Стоимость доставки —&nbsp;
              span.modal-del-point__results-price-value бесплатно
            .modal-del-point__results-date
              span Дата доставки —&nbsp;
              span.modal-del-point__results-price-value понедельник, 19 июня

          button.modal-del-point__results-button.contacts-link.contacts-link--dark.modal-close.js-close-step(type="button")
            +icon-multi('link-arrow-prime')
            span.contacts-link__text
              | выбрать пункт
            +icon-multi('link-arrow-clean-prime')
