.modal__container(data-target="modal-cart")
  .modal__content.modal-locate-list__content.modal-cart__content
    .modal-locate-list__head
      .modal-locate-list__title
        .modal-locate-list__cart-title
          | корзина
          span.modal-locate-list__cart-counter
            | 3
      button.modal-locate-list__close.modal-close(type="button")
        +icon-mono('close-big')

    // .modal-locate-list__body.modal-cart__body.modal-cart__body--full
    .modal-locate-list__body.modal-cart__body
      .modal-cart__cart-content.modal-cart__cart-content--full
        ul.modal-cart__products
          li.modal-cart__product.cart-product(data-id="")
            .cart-product__body
              .cart-product__image
                +picture('products/pic-1.jpg', 'retrova cart product image')

              .cart-product__control
                .cart-product__heading
                  span.cart-product__name Брюки джинсовые

                  .cart-product__params.popup-cart__params
                    span.popup-cart__params-solded Нет в наличии
                    span.popup-cart__params-size
                      | XS
                    span.popup-cart__devider
                      | /
                    span.popup-cart__params-size
                      | белый

                  .cart-product__counter.counter-panel
                    button.counter-panel__button.counter-panel__button--minus(type="button")
                      +icon-mono('minus')
                    input.counter-panel__input(
                      type="number",
                      name="counter-panel-value",
                      disabled,
                      value="1"
                    )
                    button.counter-panel__button.counter-panel__button--plus(type="button")
                      +icon-mono('plus')

                button.cart-product__delete
                  +icon-mono('close-big')

                .cart-product__footer
                  .cart-product__bonus.bonus
                    span.bonus__icon
                      +icon-multi('bonus')

                    .bonus__info
                      span.bonus__value 32
                      span.bonus__text бонуса
                      span.bonus__dot .


                  .cart-product__prices.about-product__prices.about-product__prices--sale
                    span.about-product__price
                      | 25 000
                    span.about-product__price.about-product__price--old
                      | 32 000

          li.modal-cart__product.cart-product(data-id="")
            .cart-product__body
              .cart-product__image
                +picture('products/pic-9.jpg', 'retrova cart product image')

              .cart-product__control
                .cart-product__heading
                  span.cart-product__name Брюки джинсовые широкие белые

                  .cart-product__params.popup-cart__params
                    span.popup-cart__params-solded Нет в наличии
                    span.popup-cart__params-size
                      | XS
                    span.popup-cart__devider
                      | /
                    span.popup-cart__params-size
                      | белый

                  .cart-product__counter.counter-panel
                    button.counter-panel__button.counter-panel__button--minus(type="button")
                      +icon-mono('minus')
                    input.counter-panel__input(
                      type="number",
                      name="counter-panel-value",
                      disabled,
                      value="1"
                    )
                    button.counter-panel__button.counter-panel__button--plus(type="button")
                      +icon-mono('plus')

                button.cart-product__delete
                  +icon-mono('close-big')

                .cart-product__footer
                  .cart-product__bonus.bonus
                    span.bonus__icon
                      +icon-multi('bonus')

                    .bonus__info
                      span.bonus__value 51
                      span.bonus__text бонуса
                      span.bonus__dot .


                  .cart-product__prices.about-product__prices.about-product__prices--sale
                    span.about-product__price
                      | 25 000
                    span.about-product__price.about-product__price--old
                      | 32 000
          li.modal-cart__product.cart-product.cart-product--solded(data-id="")
            .cart-product__body
              .cart-product__image
                +picture('products/pic-10.jpg', 'retrova cart product image')

              .cart-product__control
                .cart-product__heading
                  span.cart-product__name Джинсовая куртка

                  .cart-product__params.popup-cart__params
                    span.popup-cart__params-solded Нет в наличии
                    span.popup-cart__params-size
                      | XS
                    span.popup-cart__devider
                      | /
                    span.popup-cart__params-size
                      | белый

                  .cart-product__counter.counter-panel
                    button.counter-panel__button.counter-panel__button--minus(type="button")
                      +icon-mono('minus')
                    input.counter-panel__input(
                      type="number",
                      name="counter-panel-value",
                      disabled,
                      value="1"
                    )
                    button.counter-panel__button.counter-panel__button--plus(type="button")
                      +icon-mono('plus')

                button.cart-product__delete
                  +icon-mono('close-big')

                .cart-product__footer
                  .cart-product__bonus.bonus
                    span.bonus__icon
                      +icon-multi('bonus')

                    .bonus__info
                      span.bonus__value 51
                      span.bonus__text бонуса
                      span.bonus__dot .


                  .cart-product__prices.about-product__prices.about-product__prices--sale
                    span.about-product__price
                      | 25 000
                    span.about-product__price.about-product__price--old
                      | 32 000

        // .modal-cart__order.order-panel
        .modal-cart__order.order-panel.order-panel--with-discount
          .order-panel__up
            .order-panel__promocode
              +Promocode('promo-code-1', 'promo-code-1', 'промокод')

            .order-panel__prices
              .order-panel__price.order-panel__price--discount
                span скидка
                h6  32 000₽
              .order-panel__price.order-panel__price--final
                span итого
                h6  50 000₽

          .order-panel__down
            a.order-panel__link.large-btn(href="#")
              span.large-btn__text
                | перейти к оформлению
              span.large-btn__loader
                +icon-mono('loader')

            span.order-panel__footnote
              | * Стоимость доставки рассчитывается при оформлении заказа

      .modal-cart__cart-content.modal-cart__cart-content--empty
        .modal-cart__empty
          .modal-cart__empty-texts
            h6 В корзине пока нет товаров
            span  Для выбора товаров перейдите в каталог

          a.large-btn(href="#")
            span.large-btn__text
              | перейти в каталог
            span.large-btn__loader
              +icon-mono('loader')

      .modal-cart__slider.mini-slider.js-mini-swiper
        .mini-slider__header
          span.mini-slider__title вы недавно смотрели
          .mini-slider__buttons
            button.mini-slider__button.mini-slider__button--prev(type="button")
              +icon-multi('arrow-right')
            button.mini-slider__button.mini-slider__button--next(type="button")
              +icon-multi('arrow-right')

        .mini-slider__swiper.swiper
          ul.mini-slider__swiper-wrapper.swiper-wrapper
            li.mini-slider__swiper-slide.swiper-slide
              a.product-card.product-card--mini.product-card--stock(data-article="")
                .product-card__body
                  .product-card__image
                    .product-card__picture
                      +picture('products/pic-2.jpg', 'retrova product image')

                    .product-card__stickers
                      span.product-card__sticker.sticker.sticker--new
                        +icon-mono('star')
                        span
                          | new

                      span.product-card__sticker.sticker.sticker--sale
                        +icon-mono('star')
                        span
                          | sale

                      span.product-card__sticker.sticker.sticker--sold-out
                        +icon-mono('star')
                        span
                          | нет в наличии

                    .product-card__favorites.favorites
                      label.favorites__label
                        input.favorites__input(
                          hidden,
                          type="checkbox",
                          name="favorite",
                          value="",
                          id=""
                        )
                        span.favorites__icon
                          +icon-mono('heart')

                    .product-card__cart.cart
                      label.cart__label
                        input.cart__input(
                          hidden,
                          type="checkbox",
                          name="cart",
                          value="",
                          id=""
                        )
                        span.cart__icon
                          +icon-mono('cart')

                  .product-card__info
                    span.product-card__name
                      | Джинсовая куртка
                    .product-card__price
                      span.product-card__price-value.product-card__price-value--actual
                        | 25 000₽
                      span.product-card__price-value.product-card__price-value--old
                        | 32 000₽
            li.mini-slider__swiper-slide.swiper-slide
              a.product-card.product-card--mini.product-card--stock(data-article="")
                .product-card__body
                  .product-card__image
                    .product-card__picture
                      +picture('products/pic-2.jpg', 'retrova product image')

                    .product-card__stickers
                      span.product-card__sticker.sticker.sticker--new
                        +icon-mono('star')
                        span
                          | new

                      span.product-card__sticker.sticker.sticker--sale
                        +icon-mono('star')
                        span
                          | sale

                      span.product-card__sticker.sticker.sticker--sold-out
                        +icon-mono('star')
                        span
                          | нет в наличии

                    .product-card__favorites.favorites
                      label.favorites__label
                        input.favorites__input(
                          hidden,
                          type="checkbox",
                          name="favorite",
                          value="",
                          id=""
                        )
                        span.favorites__icon
                          +icon-mono('heart')

                    .product-card__cart.cart
                      label.cart__label
                        input.cart__input(
                          hidden,
                          type="checkbox",
                          name="cart",
                          value="",
                          id=""
                        )
                        span.cart__icon
                          +icon-mono('cart')

                  .product-card__info
                    span.product-card__name
                      | Джинсовая куртка
                    .product-card__price
                      span.product-card__price-value.product-card__price-value--actual
                        | 25 000₽
                      span.product-card__price-value.product-card__price-value--old
                        | 32 000₽
            li.mini-slider__swiper-slide.swiper-slide
              a.product-card.product-card--mini.product-card--stock(data-article="")
                .product-card__body
                  .product-card__image
                    .product-card__picture
                      +picture('products/pic-2.jpg', 'retrova product image')

                    .product-card__stickers
                      span.product-card__sticker.sticker.sticker--new
                        +icon-mono('star')
                        span
                          | new

                      span.product-card__sticker.sticker.sticker--sale
                        +icon-mono('star')
                        span
                          | sale

                      span.product-card__sticker.sticker.sticker--sold-out
                        +icon-mono('star')
                        span
                          | нет в наличии

                    .product-card__favorites.favorites
                      label.favorites__label
                        input.favorites__input(
                          hidden,
                          type="checkbox",
                          name="favorite",
                          value="",
                          id=""
                        )
                        span.favorites__icon
                          +icon-mono('heart')

                    .product-card__cart.cart
                      label.cart__label
                        input.cart__input(
                          hidden,
                          type="checkbox",
                          name="cart",
                          value="",
                          id=""
                        )
                        span.cart__icon
                          +icon-mono('cart')

                  .product-card__info
                    span.product-card__name
                      | Джинсовая куртка
                    .product-card__price
                      span.product-card__price-value.product-card__price-value--actual
                        | 25 000₽
                      span.product-card__price-value.product-card__price-value--old
                        | 32 000₽
            li.mini-slider__swiper-slide.swiper-slide
              a.product-card.product-card--mini.product-card--stock(data-article="")
                .product-card__body
                  .product-card__image
                    .product-card__picture
                      +picture('products/pic-2.jpg', 'retrova product image')

                    .product-card__stickers
                      span.product-card__sticker.sticker.sticker--new
                        +icon-mono('star')
                        span
                          | new

                      span.product-card__sticker.sticker.sticker--sale
                        +icon-mono('star')
                        span
                          | sale

                      span.product-card__sticker.sticker.sticker--sold-out
                        +icon-mono('star')
                        span
                          | нет в наличии

                    .product-card__favorites.favorites
                      label.favorites__label
                        input.favorites__input(
                          hidden,
                          type="checkbox",
                          name="favorite",
                          value="",
                          id=""
                        )
                        span.favorites__icon
                          +icon-mono('heart')

                    .product-card__cart.cart
                      label.cart__label
                        input.cart__input(
                          hidden,
                          type="checkbox",
                          name="cart",
                          value="",
                          id=""
                        )
                        span.cart__icon
                          +icon-mono('cart')

                  .product-card__info
                    span.product-card__name
                      | Джинсовая куртка
                    .product-card__price
                      span.product-card__price-value.product-card__price-value--actual
                        | 25 000₽
                      span.product-card__price-value.product-card__price-value--old
                        | 32 000₽
            li.mini-slider__swiper-slide.swiper-slide
              a.product-card.product-card--mini.product-card--stock(data-article="")
                .product-card__body
                  .product-card__image
                    .product-card__picture
                      +picture('products/pic-2.jpg', 'retrova product image')

                    .product-card__stickers
                      span.product-card__sticker.sticker.sticker--new
                        +icon-mono('star')
                        span
                          | new

                      span.product-card__sticker.sticker.sticker--sale
                        +icon-mono('star')
                        span
                          | sale

                      span.product-card__sticker.sticker.sticker--sold-out
                        +icon-mono('star')
                        span
                          | нет в наличии

                    .product-card__favorites.favorites
                      label.favorites__label
                        input.favorites__input(
                          hidden,
                          type="checkbox",
                          name="favorite",
                          value="",
                          id=""
                        )
                        span.favorites__icon
                          +icon-mono('heart')

                    .product-card__cart.cart
                      label.cart__label
                        input.cart__input(
                          hidden,
                          type="checkbox",
                          name="cart",
                          value="",
                          id=""
                        )
                        span.cart__icon
                          +icon-mono('cart')

                  .product-card__info
                    span.product-card__name
                      | Джинсовая куртка
                    .product-card__price
                      span.product-card__price-value.product-card__price-value--actual
                        | 25 000₽
                      span.product-card__price-value.product-card__price-value--old
                        | 32 000₽
