section.section.styles-look#end-ff-trigger
  .site-container
    .styles-look__head.slider__head
      h2.slider__title.slider__title--smaller
        | подборка образов

    .styles-look__body.slider__body.js-looks-swiper
      .styles-look__swiper.swiper
        ul.styles-look__list.swiper-wrapper
          li.styles-look__item.swiper-slide
            article.product-card.product-card--stock.product-card--new(data-article="")
              .product-card__body
                .product-card__image
                  .product-card__picture
                    +picture('more/pic-1.jpg', 'retrova product image')

                  .product-card__stickers
                    span.product-card__sticker.sticker.sticker--new
                      +icon-mono('star')
                      span
                        | new

                    span.product-card__sticker.sticker.sticker--sale
                      +icon-mono('star')
                      span
                        | sale

                    span.product-card__sticker.sticker.sticker--sold-out
                      +icon-mono('star')
                      span
                        | нет в наличии

                  .product-card__favorites.favorites
                    label.favorites__label
                      input.favorites__input(
                        hidden,
                        type="checkbox",
                        name="favorite",
                        value="",
                        id=""
                      )
                      span.favorites__icon
                        +icon-mono('heart')

                  .product-card__cart.cart
                    label.cart__label
                      input.cart__input(
                        hidden,
                        type="checkbox",
                        name="cart",
                        value="",
                        id=""
                      )
                      span.cart__icon
                        +icon-mono('cart')

                .product-card__info
                  span.product-card__name
                    | Джинсовая куртка
                  .product-card__price
                    span.product-card__price-value.product-card__price-value--actual
                      | 25 000₽
                    span.product-card__price-value.product-card__price-value--old
                      | 32 000₽
          li.styles-look__item.swiper-slide
            article.product-card.product-card--stock.product-card--new(data-article="")
              .product-card__body
                .product-card__image
                  .product-card__picture
                    +picture('more/pic-2.jpg', 'retrova product image')

                  .product-card__stickers
                    span.product-card__sticker.sticker.sticker--new
                      +icon-mono('star')
                      span
                        | new

                    span.product-card__sticker.sticker.sticker--sale
                      +icon-mono('star')
                      span
                        | sale

                    span.product-card__sticker.sticker.sticker--sold-out
                      +icon-mono('star')
                      span
                        | нет в наличии

                  .product-card__favorites.favorites
                    label.favorites__label
                      input.favorites__input(
                        hidden,
                        type="checkbox",
                        name="favorite",
                        value="",
                        id=""
                      )
                      span.favorites__icon
                        +icon-mono('heart')

                  .product-card__cart.cart
                    label.cart__label
                      input.cart__input(
                        hidden,
                        type="checkbox",
                        name="cart",
                        value="",
                        id=""
                      )
                      span.cart__icon
                        +icon-mono('cart')

                .product-card__info
                  span.product-card__name
                    | Джинсовая куртка
                  .product-card__price
                    span.product-card__price-value.product-card__price-value--actual
                      | 25 000₽
                    span.product-card__price-value.product-card__price-value--old
                      | 32 000₽
          li.styles-look__item.swiper-slide
            article.product-card.product-card--stock.product-card--new(data-article="")
              .product-card__body
                .product-card__image
                  .product-card__picture
                    +picture('products/pic-2.jpg', 'retrova product image')

                  .product-card__stickers
                    span.product-card__sticker.sticker.sticker--new
                      +icon-mono('star')
                      span
                        | new

                    span.product-card__sticker.sticker.sticker--sale
                      +icon-mono('star')
                      span
                        | sale

                    span.product-card__sticker.sticker.sticker--sold-out
                      +icon-mono('star')
                      span
                        | нет в наличии

                  .product-card__favorites.favorites
                    label.favorites__label
                      input.favorites__input(
                        hidden,
                        type="checkbox",
                        name="favorite",
                        value="",
                        id=""
                      )
                      span.favorites__icon
                        +icon-mono('heart')

                  .product-card__cart.cart
                    label.cart__label
                      input.cart__input(
                        hidden,
                        type="checkbox",
                        name="cart",
                        value="",
                        id=""
                      )
                      span.cart__icon
                        +icon-mono('cart')

                .product-card__info
                  span.product-card__name
                    | Джинсовая куртка
                  .product-card__price
                    span.product-card__price-value.product-card__price-value--actual
                      | 25 000₽
                    span.product-card__price-value.product-card__price-value--old
                      | 32 000₽
          li.styles-look__item.swiper-slide
            article.product-card.product-card--stock.product-card--new(data-article="")
              .product-card__body
                .product-card__image
                  .product-card__picture
                    +picture('more/pic-3.jpg', 'retrova product image')

                  .product-card__stickers
                    span.product-card__sticker.sticker.sticker--new
                      +icon-mono('star')
                      span
                        | new

                    span.product-card__sticker.sticker.sticker--sale
                      +icon-mono('star')
                      span
                        | sale

                    span.product-card__sticker.sticker.sticker--sold-out
                      +icon-mono('star')
                      span
                        | нет в наличии

                  .product-card__favorites.favorites
                    label.favorites__label
                      input.favorites__input(
                        hidden,
                        type="checkbox",
                        name="favorite",
                        value="",
                        id=""
                      )
                      span.favorites__icon
                        +icon-mono('heart')

                  .product-card__cart.cart
                    label.cart__label
                      input.cart__input(
                        hidden,
                        type="checkbox",
                        name="cart",
                        value="",
                        id=""
                      )
                      span.cart__icon
                        +icon-mono('cart')

                .product-card__info
                  span.product-card__name
                    | Джинсовая куртка
                  .product-card__price
                    span.product-card__price-value.product-card__price-value--actual
                      | 25 000₽
                    span.product-card__price-value.product-card__price-value--old
                      | 32 000₽
          li.styles-look__item.swiper-slide
            article.product-card.product-card--stock.product-card--new(data-article="")
              .product-card__body
                .product-card__image
                  .product-card__picture
                    +picture('more/pic-4.jpg', 'retrova product image')

                  .product-card__stickers
                    span.product-card__sticker.sticker.sticker--new
                      +icon-mono('star')
                      span
                        | new

                    span.product-card__sticker.sticker.sticker--sale
                      +icon-mono('star')
                      span
                        | sale

                    span.product-card__sticker.sticker.sticker--sold-out
                      +icon-mono('star')
                      span
                        | нет в наличии

                  .product-card__favorites.favorites
                    label.favorites__label
                      input.favorites__input(
                        hidden,
                        type="checkbox",
                        name="favorite",
                        value="",
                        id=""
                      )
                      span.favorites__icon
                        +icon-mono('heart')

                  .product-card__cart.cart
                    label.cart__label
                      input.cart__input(
                        hidden,
                        type="checkbox",
                        name="cart",
                        value="",
                        id=""
                      )
                      span.cart__icon
                        +icon-mono('cart')

                .product-card__info
                  span.product-card__name
                    | Джинсовая куртка
                  .product-card__price
                    span.product-card__price-value.product-card__price-value--actual
                      | 25 000₽
                    span.product-card__price-value.product-card__price-value--old
                      | 32 000₽

      .slider__container.site-container
        .slider__controls
          button.slider__button.slider__button--prev
            +icon-mono('intro-arrow')
          button.slider__button.slider__button--next
            +icon-mono('intro-arrow')
